<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
</head>
<body>
   <header>
        <h1>Plantly</h1>
   </header>
   <section class="plantSpace">
        <!-- Generate dynamically based on plants in db -->
        <article id="editPlant">
            <div>Oops, what needs changing?</div>
            <form action="/editplant" id="editplantForm" method="put">
                <fieldset>
                    <legend>Plant Facts</legend>
                    <div>
                        <label for="plant_name">Name:</label>
                        <input type="text" id="plant_name" value="<%= plants[0].name %>" name="name" required>
                    </div>
                    <div>
                        <label for="plant_date">Planted on:</label>
                        <input type="date" id="plant_date" value="<%= plants[0].plant_date %>" name="plant_date">
                    </div>
                    <div>
                        <label for="plant_type">Plant Type:</label>
                        <input type="text" id="plant_type" value="<%= plants[0].type %>" name="type" required>
                    </div>
                    <div>
                        <label for="plant_height">Plant Height (cm):</label>
                        <input type="number" id="plant_height" value="<%= plants[0].height %>" name="height" min="0">
                    </div>
                    <!-- <input type="file" placeholder="picture" name="picture"> -->
                </fieldset>
                <fieldset>
                    <legend>Environment & Watering</legend>
                    <label for="sun">Sun Exposure:</label>
                    <select name="sun_exposure" value="<%= plants[0].sun_exposure %>" id="sun">
                        <option value="">Choose</option>
                        <option value="Full Sun">Full Sun</option>
                        <option value="Light Shade">Light Shade</option>
                        <option value="Partial Shade">Partial Shade</option>
                        <option value="Full Shade">Full Shade</option>
                        <option value="Dense Shade">Dense Shade</option>
                    </select>
                </br>
                    <label for="watering_schedule">Watering Schedule:</label>
                    <select name="watering_schedule" value="<%= plants[0].watering_schedule %>" id="watering">
                        <option value="">Choose</option>
                        <option value="Daily">Daily</option>
                        <option value="Bi-Daily">Bi-daily</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Bi-Weekly">Bi-Weekly</option>
                    </select>
               </fieldset>
               <button type="submit">Time for change!</button>
            </form>
        </article>
   </section>

   <!-- Generic Footer -->
   <footer>
        <%- include('./footer'); %>
   </footer> 
   <script>
        document.getElementById('watering').value = "<%= plants[0].watering_schedule %>"
        document.getElementById('sun').value = "<%= plants[0].sun_exposure %>"
   </script>
   <script src="/js/main.js"></script>
</body>
</html>