<section class="plantSpace">
    <!-- Generate dynamically based on plants in db -->
    <article id="addDiary">
            <div>Scratch that diary:</div>
            <form id="addplantForm">
                <fieldset>
                    <legend>Plant Facts</legend>
                    <div>
                        <input id="_id" type="hidden" value="<%= id %>">
                        <input id="entry" type="hidden" value="<%= entry %>">
                        <label for="date">Date:</label>
                        <input type="date" id="date" name="date" required value="<%= diary.date %>">
                    </div>
                    <div>
                        <label for="plant_height">Height (cm):</label>
                        <input type="number" id="plant_height" value="<%= diary.height %>" name="height" min="0">
                    </div>
                    <!-- <input type="file" placeholder="picture" name="picture"> -->
                </fieldset>
                <fieldset id="plantnotes">
                    <legend><label for="plant_notes">General notes:</label></legend>
                    <div>
                        <textarea name="notes" id="plant_notes" cols="30" rows="10"><%= diary.notes %></textarea>
                    </div>
                </fieldset>
            </form>
            <button id="editSubmit">Edit Diary Entry</button>
    </article>
</section>
<script src="/js/main.js" defer></script>
<script src="/js/editdiary.js" defer></script>
