<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
</head>
<body>
   <header>
        <h1>Plantly</h1>
   </header>
   <section class="plantSpace">
        <!-- Generate dynamically based on plants in db -->
        <div class="plants"> 
            <!-- Loop through plants -->
            <% if(plants.length > 0) {%>
                <% for(var i = 0; i < plants.length; i++) {%>
                    <div class="plant">
                      <div class="plantbox">
                        <img src="./assets/Plant_Display_Top.png" alt="border-top">
                        <div>
                        <!-- Outputs from the iterated quote object -->
                        <!-- <img src= "<%= plants[i].picture %>"  alt="img" width="600" height="400">
                        <br> -->
                        <span>Name: <%= plants[i].name %></span>
                        <br>
                        <span>Birthday: <%= plants[i].plant_date %></span>
                        <br>
                        <span>Type: <%= plants[i].type %></span>
                        <br>
                        <span>Height: <%= plants[i].height %></span>
                        <br>
                        <span>Sun: <%= plants[i].sun_exposure%></span>
                        <br>
                        <span>Watering: <%= plants[i].watering_schedule%></span>
                        </div>
                        <img src="./assets/Plant_Display_Bottom.png" alt="border-bottom">
                        <div class="editdelbox">
                          <img class="editdel editButton"  src="./assets/index/edit.png" alt="edit">
                          <img class="editdel deleteButton" id="<%= plants[i].name %>" src="./assets/index/delete.png" alt="delete">
                        </div>
                      </div>
                    </div>
                  <% } %>
            <%} else {%>
                <div id="plantless">
                    <br> Lets get planting!</p>
                </div>
            <%} %>
        </div>
   </section>
   <!-- Generic Footer -->
   <footer>
        <%- include('./footer'); %>
   </footer> 
   <script src="/js/main.js"></script>
</body>
</html>