<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- My Styles -->
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/style.css">

    <!-- Sourced Styles -->

    <!-- Header Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    
    <title>Plantly Home Page</title>
</head>
<body>
   <header>
        <h1>Plantly</h1>
   </header>
   <section class="plantSpace">
        <!-- Generate dynamically based on plants in db -->
        <div class="plants"> 
            <!-- Loop through plants -->
            <% if(plants.length > 0) {%>
                <% for(var i = 0; i < plants.length; i++) {%>
                    <div class="plant">
                      <img src="./assets/Plant_Display_Top.png" alt="border-top">
                      <div>
                        <!-- Outputs from the iterated quote object -->
                        <!-- <img src= "<%= plants[i].picture %>"  alt="img" width="600" height="400">
                        <br> -->
                        <span>Name: <%= plants[i].name %></span>
                        <br>
                        <span>Birthday: <%= plants[i].plant_date %></span>
                        <br>
                        <span>Type: <%= plants[i].type %></span>
                        <br>
                        <span>Height: <%= plants[i].height %></span>
                        <br>
                        <span>Sun: <%= plants[i].sun_exposure%></span>
                        <br>
                        <span>Watering Schedule: <%= plants[i].watering_schedule%></span>
                      </div>
                      <img src="./assets/Plant_Display_Bottom.png" alt="border-bottom">
                    </div>
                  <% } %>
            <%} else {%>
                <div id="plantless">
                    <br> Lets get planting!</p>
                </div>
            <%} %>
        </div>
   </section>
   <!-- Generic Footer -->
   
   <footer>
        <article id= "scheduleOverlay" class="navExtension hidden">
            <!-- Overlay for Schedule -->
            <p>Update Coming!</p>
        </article>
        <article id= "addOverlay" class="navExtension hidden">
            <!-- Overlay for add -->
            <p>What would you like to add?</p>
            <div class="extimgcontainer">
                <a href="/newplant"><img id="addPlantNav" class="extensionimages" src="./assets/nav/Add Button/plant.png" alt="Plant"></a>
                <img id="addDiaryNav" class="extensionimages" src="./assets/nav/Add Button/diary.png" alt="Diary">
                <img id="addEventNav" class="extensionimages" src="./assets/nav/Add Button/event.png" alt="Event">
            </div>
        </article>
        <article id= "contactOverlay" class="navExtension hidden">
            <!-- Overlay for contact -->
            <p>We would love to hear from you!</p>
            <div class="extimgcontainer">
                <a href="#"><img class="extensionimages" src="./assets/nav/Contact Button/social-media.png" alt="social media"></a>
                <a href="#"><img class="extensionimages" src="./assets/nav/Contact Button/telephone-call.png" alt="call"></a>
                <a href="#"><img class="extensionimages" src="./assets/nav/Contact Button/email.png" alt="email"></a>
            </div>
        </article>
        <nav>
            <a href="/"><img id="garden" src="./assets/nav/mygarden.png" alt="my garden"></a>           
            <img class="navButton" id="schedule" src="./assets/nav/schedule.png" alt="schedule">
            <img class="navButton" id="add" src="./assets/nav/add_circle.png" alt="add circle">
            <a href="edu.html">
                <img id="edu" src="./assets/nav/magistrate.png" alt="education">
            </a>
            <img class="navButton" id= "contact"src="./assets/nav/contact.png" alt="contact us">
        </nav>
   </footer> 
   <script src="/js/main.js"></script>
</body>
</html>