<div class="container d-flex flex-column pt-5">
    <div class="p-3 align-self-center stardewBorder d-flex flex-column align-items-center ">
        <h2><%= area.name %></h2>
        <a class="btn btn-primary mb-3" href="/areas/<%= area.id%>/edit">edit</a>
        <%- include('../partials/deleteForm', 
            {url: `/areas/${area.id}`}
        )%>
    </div>
    <div class="row g-4 mt-2">
        <%- include('../partials/errorMessage')%>
        <% if(plantsByArea.length > 0) { %>
            <h2 class="stardewBorder"><%= area.name %> Plants</h2>
            <% plantsByArea.forEach(plant => {%>
                <div class="col-md-6 col-lg-3 d-flex justify-content-center">
                    <div class="card stardewBorder" style="width: 18rem; height: 13rem;"> 
                        <a href="/plants/<%= plant.id %>">
                            <img height="150px" width="auto" class="card-img-top plantDisplay" src="<%= plant.coverImagePath %>" alt="Card image cap">
                        </a>
                        <div class="card-body text-center">
                            <h5 class="card-title"><%= plant.plantName %></h5>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } else {%>
            <div class="stardewBorder d-flex flex-column align-items-center">
                <h2 class="p-3 r text-center">Great! You've added an area! Now lets add some plants: </h2>
                <div>
                    <a class="btn btn-info mt-2 mb-4" href="/plants/new">Add a Plant</a>
                </div>
            </div>
        <%} %> 
    </div>
  </div>