<div class="row">
    <div class="form-group col">
        <div class="form-group row justify-content-between">
            <label class="col-md-2 col-form-label" for="plantName">Name:</label>
            <div class="rightInputs col-md-7 col-lg-7 d-flex justify-content-center">
                <input type="text" class="form-control" name="plantName" value='<%= plant.plantName %>'>
                <!-- <small id="emailHelp" class="form-text text-muted">Hello </small> -->
            </div>
        </div>
        <div class="form-group row justify-content-between">
            <label class="col-md-2 col-form-label" for="area">Area:</label>
            <div class="rightInputs col-md-7 col-lg-7">
                <select class="mt-2 form-control" name="area" id="area">
                    <% areas.forEach(area => { %>
                        <% if(area.id === plant.area) { %> 
                            <option selected label="<%= area.name %>" value="<%= area.id %>"><%= area %></option>
                        <%} else { %>
                        <option label="<%= area.name %>" value="<%= area.id %>"><%= area %></option>
                        <% } %>
                    <% }) %>
                </select>
            </div>
        </div>
        <div class="form-group row justify-content-between">
            <label class="col-md-2 col-form-label" for="plantedDate">Planted:</label>
            <div class="rightInputs col-md-7 col-lg-7 d-flex justify-content-center">
                <input type="date" class="form-control" name="plantedDate" value='<%= plant.plantedDate == null ? '' : plant.plantedDate.toISOString().split('T')[0] %>'>
            </div>
        </div>
        <div class="form-group row justify-content-between">
            <label class="col-md-2 col-form-label" for="height">Height(cm):</label>
            <div class="rightInputs col-md-7  col-lg-7 d-flex justify-content-center">
                <input type="number" class="form-control" name="height" min='0' value='<%= plant.height %>'>
            </div>
        </div>
    </div>
    <div class="form-group col">
        <div class="form-group ">
            <label for="cover">Picture:</label>
            <input type="file" name="cover" class="filepond">
        </div>
        <div class="form-group row p-2">
            <label class="col-form-label" for="description">Description:</label>
            <textarea class="form-control" name="description"><%= plant.description%></textarea>
        </div>
    </div>
</div>


 


