<div class="row">
    <div class="container form-group col">
        <div class="form-group row justify-content-between">
            <label class="" for="plantName">Name:</label>
            <div>
                <input type="text" class="form-control" name="plantName" value='<%= plant.plantName %>'>
            </div>
        </div>
        <div class="form-group row justify-content-between">
            <label class="col-form-label" for="area">Area:</label>
            <div class="">
                <select class="mt-2 form-control" name="area" id="area">
                    <% areas.forEach(area => { %>
                        <% if(area.id === plant.area) { %> 
                            <option selected label="<%= area.name %>" value="<%= area.id %>"><%= area %></option>
                        <%} else { %>
                        <option label="<%= area.name %>" value="<%= area.id %>"><%= area %></option>
                        <% } %>
                    <% }) %>
                </select>
            </div>
        </div>
        
        <div class="form-group row justify-content-between">
            <label class="col-md-2 col-form-label" for="plantedDate">Planted:</label>
            <div class=" d-flex justify-content-center">
                <input type="date" class="form-control" name="plantedDate" value='<%= plant.plantedDate == null ? '' : plant.plantedDate.toISOString().split('T')[0] %>'>
            </div>
        </div>
        <div class="form-group row justify-content-between">
            <label class="col-md-2 col-form-label" for="height">Type:</label>
            <div class=" d-flex justify-content-center">
                <input type="text" class="form-control" name="type" min='0' value='<%= plant.type %>'>
            </div>
        </div>
        <div class="form-group row justify-content-between">
            <label for="sun" class="col-form-label">Sun:</label>
            <div class=" d-flex justify-content-center">
                <select name="sun" class="form-control" id="sun">
                    <option value="full-sun">Full-sun</option>
                    <option value="light-shade">Light-shade</option>
                    <option value="partial-shade">Partial-shade</option>
                    <option value="full-shade">Full-shade</option>
                    <option value="dense-shade">Dense-shade</option>
                </select>
            </div>              
        </div>
        <div class="form-group row justify-content-between">
            <label class="col-form-label" for="potSize">Pot-Size (cm):</label>
            <div class="d-flex justify-content-center">
                <input type="number" class="form-control" name="potSize" min='0' value='<%= plant.potSize %>'>
            </div>
        </div>
        <div class="form-group row justify-content-between">
            <label class="col-form-label" for="height">Height (cm):</label>
            <div class="d-flex justify-content-center">
                <input type="number" class="form-control" name="height" min='0' value='<%= plant.height %>'>
            </div>
        </div>
        <div class="form-group row justify-content-between">
            <label class="col-form-label" for="waterInt">Water Int (days):</label>
            <div class="d-flex justify-content-center">
                <input type="number" class="form-control" name="waterInt" min='0' value='<%= plant.waterInt %>'>
            </div>
        </div>
        <div class="form-group row justify-content-between">
            <label class="col-form-label" for="waterAmt">Water Amt (cups):</label>
            <div class="d-flex justify-content-center">
                <input type="number" class="form-control" name="waterAmt" min='0' value='<%= plant.waterAmt %>'>
            </div>
        </div>
        <div class="form-group row justify-content-between">
            <div class="form-check form-switch d-flex justify-content-center">
                <input type="checkbox" class="form-check-input" name="pestStatus" id="pestStatus" value='yes'>
                <label for="pestStatus" class="form-check-label" >Pests:</label>
            </div>
        </div>
    </div>
    <div class="form-group col">
        <div class="form-group ">
            <label for="cover">Picture:</label>
            <input type="file" name="cover" class="filepond">
        </div>
        <div class="form-group row p-2">
            <label class="col-form-label" for="description">Description:</label>
            <textarea class="form-control" name="description"><%= plant.description%></textarea>
        </div>
    </div>
</div>





