<div class="pt-5 d-flex flex-column align-items-center">
    <div id="plantProfile" class="p-3 stardewBorder d-flex flex-column">
        <div class="d-md-flex">
            <div>
                <div id="plantPicAndName">
                    <figure id="plantPicture" class="d-flex text-light flex-column ms-auto me-auto bg-dark stardewBorder">
                        <img class="rounded-3 align-self-center" src="<%= plant.coverImagePath %>" alt="plant cover">
                        <figcaption class="text-center"><%= plant.plantName %></figcaption>
                    </figure>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <h5 class="card-title">Description:</h5>
                    <p class=""><%= plant.description %></p>
                </div>
            </div>
            <section class="justify-content-center flex-row ms-3">
                <div>
                    <div class="card stardewBorder">
                        <ul class="list-group list-group-flush card bg-dark text-light">
                            <li class="list-group-item card bg-dark text-light d-flex justify-content-between flex-sm-column flex-md-row"><span class="pe-5">Planted on:</span><span class="text-md-right text-center"><%= plant.plantedDate.toDateString() %></span> </li>
                            <li class="list-group-item card bg-dark text-light d-flex justify-content-between flex-column flex-md-row"><span>Height(cm): </span><span class="text-center"><%= plant.height %></span></li>
                            <li class="list-group-item card bg-dark text-light d-flex justify-content-between flex-column flex-md-row"><span>Type: </span><span class="text-center"><%= plant.type %></span></li>
                            <li class="list-group-item card bg-dark text-light d-flex justify-content-between flex-column flex-md-row"><span>Water Int(days):</span><span class="text-center"><%= plant.waterInt %></span></li>
                            <li class="list-group-item card bg-dark text-light d-flex justify-content-between flex-column flex-md-row"><span>Water Amt(cups):</span><span class="text-center"><%= plant.waterAmt %></span></li>
                            <li class="list-group-item card bg-dark text-light d-flex justify-content-between flex-column flex-md-row"><span>Sun: </span><span class="text-center"><%= plant.sun %></span></li>
                            <li class="list-group-item card bg-dark text-light d-flex justify-content-between flex-column flex-md-row"><span>Pot Size(cm): </span><span class="text-center"><%= plant.potSize %></span> </li>
                            <li class="list-group-item card bg-dark text-light d-flex justify-content-between flex-column flex-md-row"><span>Area: </span><span class="text-center"><%= plant.area.name %></span></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="container mt-4 p-3 d-flex justify-content-center">
            <a class="btn me-3 btn-success btn-lg" href="/plants/<%= plant.id %>/edit">Edit</a>
            <a class="btn me-3 btn-success btn-lg" href="/areas/<%= plant.area.id %>">View Area</a>
            <%- include('../partials/deleteForm', { url: `/plants/${plant.id}` })%>
        </div>
    </div>
   <!-- Create Diary Entry -->
    <div class="mt-3 p-3 stardewBorder d-flex justify-content-between">
        <h2 class="me-3">New Diary Entry:</h2>
        <button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#diary"><i class="bi-plus-circle"></i></button>
    </div>
    <!-- Diary Legend -->
    <div class="diaryLegend container mt-4 h4">
        <span class="badge bg-dark">Diary Legend:</span>
        <div class="m-1 p-3 diaryIcons row borderOnly">
            <div class="col-md-4 align-self-center">
                <img src="/assets/diary/potSize.png" alt="Pot Size Change">
                <span class="ms-1">Pot Size</span>
            </div>
            <div class="col-md-4">
                <img src="/assets/diary/pests.png" alt="Pests seen">
                <span class="ms-1">Pests</span>
            </div>
            <div class="col-md-4">
                <img src="/assets/diary/clock.png" alt="Water Interval Change">
                <span class="ms-1">Water Int</span>
            </div>
            <div class="col-md-4">
                <img src="/assets/diary/height.png" alt="Height Change">
                <span class="ms-1">Height</span>
            </div>
            <div class="col-md-4">
                <img src="/assets/diary/sun.png" alt="Sun Change">
                <span class="ms-1">Sun</span>
            </div>
            <div class="col-md-4">
                <img src="/assets/diary/plant-pot.png" alt="Repotted">
                <span class="ms-1">Repotted</span>
            </div>
            <div class="col-md-4">
                <img src="/assets/diary/fertilizer.png" alt="Fertilized">
                <span class="ms-1">Fertilized</span>
            </div>
            <div class="col-md-4">
                <img src="/assets/diary/band-aid.png" alt="Trauma">
                <span class="ms-1">Trauma</span>
            </div>
            <div class="col-md-4">
                <img src="/assets/diary/spray.png" alt="Pests Treated">
                <span class="ms-1">Pests Treated</span>
            </div>
            
            <div class="col-md-4">
                <img src="/assets/diary/water-drop.png" alt="Water Ammount Change">
                <span class="ms-1">Water Amt</span>
            </div>
        </div>  
    </div>
    <!-- Diary Display -->
    <div class="container mt-4 h4">  
        <% if(diariesByPlant.length > 0) { %>
            <span class="badge mb-2 bg-dark">Diary Entries:</span>
            <% diariesByPlant.forEach(diary => {%>
                <div class="stardewBorder mb-5">
                    <div class="mb-2 d-sm-flex justify-content-centerdiaryUpper pb-2">
                        <div id="diaryPicture" class="ms-auto ms-sm-0 me-auto me-sm-0 bg-dark d-flex justify-content-center stardewBorder">
                            <% if(diary.coverImagePath) {%>
                                <img class="plantDisplay" src="<%= diary.coverImagePath %>">
                            <%} %>
                        </div>
                        <div class="mt-3 ms-4 d-flex flex-column justify-content-between ml-5 mb-3 ">
                            <div class="diaryTextEntries">
                                <div class="card-body">
                                    <h5 class="h4">Title: <%= diary.diaryTitle %></h5>
                                    <span class="h5">Date: <%= diary.diaryDate == null ? '' : diary.diaryDate.toISOString().split('T')[0] %></p>
                                </div>
                                <div class="d-flex h6 mb-3">
                                        <% if(diary.height) {%>
                                            <span class="pe-2">Height: <%= diary.height %></span>
                                        <%}%>
                                        <% if(diary.sun) {%>
                                            <span class="pe-2">Sun: <%= diary.sun %></span>
                                        <%}%>
                                        <div class="d-flex">
                                            <% if(diary.potSize) {%>
                                                <span class="pe-2">Pot Size: <%= diary.potSize %></span>
                                            <%}%>
                                            <% if(diary.waterInt) {%>
                                                <span class="pe-2">Water Int: <%= diary.waterInt %></span>
                                            <%}%>
                                        </div>
                                </div>
                                <% if(diary.diaryText) {%>
                                    <span class="h5">Notes: <%= diary.diaryText %></span>
                                <%}%>
                            </div>
                        </div>
                        <div class="ms-auto d-flex flex-sm-column justify-content-around pe-3">
                            <!-- <a class="btn btn-success btn-lg" href="/diaries/<%= diary.id %>/edit">Edit</a> -->
                            <%- include('../partials/deleteForm', { url: `/diaries/${diary.id}` })%>
                        </div>    
                    </div>
                    <div class="diaryIcons ps-3 pb-2 row">
                        <div class="col">
                            <% if(diary.potSizeChange) {%>
                                <img src="/assets/diary/potSize.png" alt="Pot Size Change">
                            <%}%>
                        </div>
                        <div class="col">
                            <% if(diary.pestsSighted) {%>
                                <img src="/assets/diary/pests.png" alt="Pests seen">
                            <%}%>
                        </div>
                        <div class="col">
                            <% if(diary.waterAmtChange) {%>
                                <img src="/assets/diary/water-drop.png" alt="Water Ammount Change">
                            <%}%>
                        </div>
                        <div class="col">
                            <% if(diary.waterIntChange) {%>
                                <img src="/assets/diary/clock.png" alt="Water Interval Change">
                            <%}%>
                        </div>
                        <div class="col">
                            <% if(diary.heightChange) {%>
                                <img src="/assets/diary/height.png" alt="Height Change">
                            <%}%>
                        </div>
                        <div class="col">
                            <% if(diary.sunChange) {%>
                                <img src="/assets/diary/sun.png" alt="Sun Change">
                            <%}%>
                        </div>
                        <div class="col">
                            <% if(diary.repotted) {%>
                                <img src="/assets/diary/plant-pot.png" alt="Repotted">
                            <%}%>
                        </div>
                        <div class="col">
                            <% if(diary.fertilized) {%>
                                <img src="/assets/diary/fertilizer.png" alt="Fertilized">
                            <%}%>
                        </div>
                        <div class="col">
                            <% if(diary.pestsTreated) {%>
                                <img src="/assets/diary/spray.png" alt="Pests Treated">
                            <%}%>
                        </div>
                        <div class="col">
                            <% if(diary.trauma) {%>
                                <img src="/assets/diary/band-aid.png" alt="Trauma">
                            <%}%>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } %> 
    </div>  
</div>

<!-- Modal -->
<div class=" modal fade" id="diary" tabindex="-1" aria-labelledby="diaryLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content stardewBorder">
        <div class="modal-header">
        <h5 class="modal-title" id="diaryLabel">Diary Content:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form action="/diaries" method="POST">
            <%- include('../diaries/_form_fields')%>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Add to Diary</button>
            </div>
        </form>
        </div>
    </div>
    </div>
</div>
<!-- Modal -->