<div class="d-flex align-items-center justify-content-center">
    <div class="d-flex">
        <div class="container">
            <div class="card bg-dark text-light" style="width: 18rem;">
                <img src="<%= plant.coverImagePath %>" alt="plant cover">
            </div>
        </div>
        <section class="container">
            <div class="card bg-dark text-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Name:</h5>
                    <span class="card-text"><%= plant.plantName %></span>
                    <h5 class="card-title">Description:</h5>
                    <p class="card-text"><%= plant.description %></p>
                </div>
                <ul class="list-group list-group-flush card bg-dark text-light">
                    <li class="list-group-item card bg-dark text-light">Planted on: <%= plant.plantedDate.toDateString() %></li>
                    <li class="list-group-item card bg-dark text-light">Height: <%= plant.height %> cm</li>
                    <li class="list-group-item card bg-dark text-light">Area: <%= plant.area.name %></li>
                </ul>
                <div class="card-body">
                    <a class="btn btn-success btn-lg" href="/plants/<%= plant.id %>/edit">Edit</a>
                    <a class="btn btn-success btn-lg" href="/areas/<%= plant.area.id %>">View Area</a>
                </div>
                <div class="card-body">
                    <%- include('../partials/deleteForm', { url: `/plants/${plant.id}` })%>
                </div>
            </div>
        </section>
    </div>
</div>
